body{
    margin:0 ;
    background-color: #eee;
}

#header{
background-color: #333;
}

.site-title{
    margin: 0;
    padding: 16px;
    color:#fff
}

.contents-item{
    margin: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.contents-item-tittle{
 padding: 8px 16px;
 margin:0;
 background-color: #333;
 color:#fff;
}

.contents-item-text{
    margin: 16px;
}
.main-title,.description{
    margin: 16px;
}
.copyright{
padding: 16px;
margin: 0;
background-color: #333;
color: #fff;
text-align: center;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    height: 200px;
    background-color: #ccc;
}

.menu{
    display: flex;
}

.menu-item a {
    display: black;
padding: 16px;
background-color: #333;
color: #fff;
border:3px solid#ccc;
text-decoration: none;
}

.menu-item a:hover{
    background-color: #666;
}
.box{
    padding:20px;
    border: 50px solid red;
    width:200px;
    height: 200px;
}

.border-box{
    box-sizing: flex;
}


.entries{
    display:flex;
    flex-wrap:wrap;
}

.entry{
    margin: 8px;
    width:calc(25% - 16px);
    border: 2px solid#ccc;
    box-sizing:border-box;
}

.entry-img{
    margin: 0;
}

.entry-img img{
    width:100%;
    display: block;
}