body{
    margin:0 ;
    background-color: #eee;
}

#header{
background-color: #333;
}

.site-title{
    margin: 0;
    padding: 16px;
    color:#fff
}

.contents-item{
    margin: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.contents-item-tittle{
 padding: 8px 16px;
 margin:0;
 background-color: #333;
 color:#fff;
}

.contents-item-text{
    margin: 16px;
}
.main-title,.description{
    margin: 16px;
}
.copyright{
padding: 16px;
margin: 0;
background-color: #333;
color: #fff;
text-align: center;
}

.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
    height: 200px;
    background-color: #ccc;
}

.menu{
    display: flex;
}

.menu-item a {
    display: black;
padding: 16px;
background-color: #333;
color: #fff;
border:3px solid#ccc;
text-decoration: none;
}

.menu-item a:hover{
    background-color: #666;
}
.box{
    padding:20px;
    border: 50px solid red;
    width:200px;
    height: 200px;
}

.border-box{
    box-sizing: flex;
}


.entries{
    display:flex;
    flex-wrap:wrap;
}

.entry{
    margin: 8px;
    width:calc(25% - 16px);
    border: 2px solid#ccc;
    box-sizing:border-box;
}

.entry-img{
    margin: 0;
}

.entry-img img{
    width:100%;
    display: block;
}

.fixed-button{
    background-color: #333;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: fixed;/*fixedはボタン出てくる*/
    left: 0;
    bottom: 0;/*topだと上bottomだと下*/
}

.relative-button{
    background-color: pink;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: relative;
    left: 10px;
    bottom: -10px;
}
   
.absolute-button{
    background-color: red;
    color: #fff;
    padding: 16px;
    margin: 0;
    position: absolute;
    right: 0;
     top: 0;
 }

  
 .absolute-container{
    border: 3px solid red;
    padding: 3px;
    height: 200px;
    position: relative;
 }

.inline-block-list{
    text-align: center;
    /* インライン要素だと真ん中に来ない */
}

.inline-block-list-item{
    background-color: #333;
    color:#fff;
    width: 100px;
    text-align: center;
    display: inline-block;
}

.center-container{
    background-color: red;
    height: 400px;
    position: relative;
}

 .center-box{
    margin: auto;
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

 }