* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}

#header {
    background-color: #47B39D;
    height: 92px;
    display: flex;
    align-items: center;
    /*!!!!高さに対しての真ん中に持ってくる*/
}

.title {
    margin: 0 16px;
}

.title a {
    color: #fff;
    font-size: 24px;
}

.gnav {
    position: absolute;
    top: 0;
    right: 16px;
    display: flex;
}

.gnav-item {
    list-style-type: none;
    line-height: 92px;
}

.gnav-item a {
    padding: 0 16px;
    /*top bottomが0でleft rightがそれぞれ16pxずつある、略*/
    display: block;
    /*インライン要素からblock要素にする*/
    color: #fff;
    text-decoration: none;
    /*下の棒線を無しにする*/
    transition: background-color 0.3s ease-out;
    /*イージング反応に速さ*/
}

.gnav-item a:hover {
    /*カーソルを持ってった時に色変えるやつ*/
    background-color: rgba(255, 255, 255, 0.3);
    /*255はそれぞれrgb(0から255まで）を表していて、4個目は透明度*/
}

.main-area {
    background-color: #41baa4;
    color: #fff;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.site-title {
    margin-bottom: 16px;

}

.site-title {
    margin: 0 16px;
    /*top bottomが0でleft rightがそれぞれ16pxずつある、略*/
    max-width: 500px;
    /*文字の最大幅を500pxにした*/
    text-align: center;
    /*テキスト、文字を真ん中にもってくるので大幅な位置は変わらない*/
    text-decoration: none;
}

#main{
    background-color: #f5f5f5;
}

.entry {
    margin: 50px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background-color: #fff;


}

.entry-title {
    padding: 16px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #eee;
    text-align: center;

}

.entries {
    display: flex;
    /* flex-wrap: wrap; 100%以上になると落ちるやつ */
    /* padding: 0px 60px; */
    margin: 0 auto;
max-width: 1200px; /*中身の最大値が1200px */
flex-wrap: wrap;  /*子供の幅に応じて単１行に押し込むか、あるいは複数に折り返しても良いかを指定 */
padding: 24px 0 40px 0;


}

.entry-item {
    margin: 0 10px;
    /* width: 200px; */
    display: flex;
    flex-direction: column-reverse;
    /*並びを上下逆にする*/
   
    /* border: 2px solid #eee; */
    width: calc(20% - 20px); 
    /*このサイトの場合は小さくしたら記事も小さくなる 写真のサイズー(横幅8px ×2)＋（border2px　×2）*/
    /* color: #000; */
    /* padding: 40px 0px; */
    border: 1px solid #eee;
    box-sizing: border-box; /* borderで2pxを超えてしまったので100%以上になり落ちてしまうので(display-flex)そうならない様にこれを入れると内側？でまとまる*/
}


.entry-item-img img {
    width: 100%;
    /*これをすると画像がはみ出ない*/
    /* margin: 0px 0px 12px; */
 display: block;    /* 画像の下の謎の空白がこれで無くなる */
}

.entry-item a {
    text-decoration: none;
    /*下の棒線無くす*/
}

.entry-item-category{
    width: 100%;
    margin: 8px 0;
}

.entry-item-category a{
    background-color: #41baa4;
    padding: 8px 16px;
    display: inline-block;  /* インライン要素のいいとこ取り　あんまりズレない様になる */
    color: #fff;

}

.entry-item-title a{
    color: #333;
    font-weight: normal;
}

.contents-item-title{
    padding: 60px 24px 60px 24px;
    background-color: #3B4552;
    color: #fff;
    text-align: center;
/* font-size: normal; */
font-size: 25px;
font-weight: normal;
position: relative;
z-index: 1;/*重なり順　数値が低いほど下にいく（-など）*/
}

.contents-item-title-en{
font-size: 15px;
}

.contents-item-title:after { /*擬似クラス before contentが必要　空の何かを作りたい時*/
    content: '' ; 
    display: block;
    margin: 0 auto;
    width: 0;
    height: 0;
    border: 20px solid #3B4552;
    border-bottom: none;
    border-left: 60px solid transparent; /*透明にする*/
    border-right: 60px solid transparent;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}

.entry-item-title-en{
    display: block;
    font-size: 13px;
}

.feature{
    height: 500px;
    position: relative; /*positionを入れると重なり順が上に来る*/
    overflow: hidden;/*はみ出てる領域を如何見せるか制御する (hiddenの場合は見えなくさせる）*/
    padding: 0 50px;
    border-bottom: 1px solid #e5e5e5;
}

.feature:nth-child(odd)/*親から見た時（div)から見た偶数*/ {
    padding-right: 550px;
    background-color: #fafafa;
}

.feature:nth-child(even)/*親から見た時（div)から見た偶数*/ {
    padding-left: 550px;
}

.feature-img{
    position: absolute;
    top: 0;
    width: 500px;
    overflow: hidden;
}

/*親から見た時（div)から見た奇数*/
.feature:nth-child(odd) .feature-img{
    right: 0;
}

/*親から見た時（div)から見た偶数*/
.feature:nth-child(even)  .feature-img{
    left: 0;
}

.feature-img img{
    margin-left: -200px;
}

.feature-title-num{
     padding: 40px 0 16px;
     background: #47B39D;
     width: 40px;
     text-align: center;
     color: #fff;
     display: block; /*改行する性質(span,em,strongは改行しないタグはインライン要素　文章に対しての意味を持つタグ)*/
     font-size: 13px;
     margin-bottom: 24px;

}

.feature-title{
    color: #47B39D;
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 24px;
}

.feature-title-en{
    color: #47B39D;
    font-weight: normal;
    font-size: 13px;
    display: block; /*改行する性質(インラインは主に改行しない*/
    /* span,em,strongは改行しないタグはインライン要素　文章に対しての意味を持つタグ  */
}

.feature-text{
margin-bottom: 20px; 
}

.btn a {
    color: #fff;
    padding: 16px 40px;
    border-radius: 5px;
    border-radius: 5px;
    /* 角を丸くする */
text-decoration: none;
display: inline-block;
transition: opacity 0.3s ease-out;
}

.btn a:hover {
    opacity: 0.7;
    /* 半透明にする */
}

.btn.orange a{
    background-color: #FF6C00;
}

.btn.green a{
background-color: #47B39D;
}

.services{
    display: flex;
    height: 350px;
    text-align: center;
}

.service{
    width: 50%;
    /* 幅の値 */
    padding: 100px 50px 100px 50px;
}
.service-title{
    font-size: 35px;
    color: #41baa4;
    font-weight: normal;
    margin-bottom: 8px;

}

.service-title-en{
    display: block;
    font-size: 10px;
    margin-bottom: 32px;
}